body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    max-width: 400px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .product img {
    max-width: 100%;
    border-radius: 5px;
  }
  .cart {
    margin: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #ddd;
    width: 300px;
    text-align: center;
  }
  .cart-total {
    font-size: 18px;
    margin-top: 10px;
  }
  .checkout-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .cart-items {
    text-align: left;
    padding-left: 10px;
  }
  .clear-cart-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; */
  }
  .clear-cart-btn:hover {
    background-color: #e60000;
  }
  .back-to-main {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; */
  }
  .back-to-main:hover {
    background-color: #e60000;
  }